@model IEnumerable<test0000001.Models.Home_Insurance>

@{
    ViewData["Title"] = "Index";
    Layout = "AdminLayout/_Layout";
}

<h1>Home Insurance</h1>
<h2 class="text-success">@ViewData["msg"]</h2>
<h2 class="text-danger">@ViewData["fail"]</h2>

@*
<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*
<div>
    @using (Html.BeginForm("Index", "Home_Insurance", FormMethod.Get))
    {
        <select name="code" asp-items="ViewBag.code">
            <option>---Selected---</option>
        </select>
        <input type="submit" value="Filter" class="btn-info" />
    }
</div>
*@
<table class="table">
    <thead>
        <tr>
           
            @*
            <th>
            @Html.DisplayNameFor(model => model.Policy)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearBuilt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Structure)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBasement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
               <label>Duration</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkDriver)
            </th>
            <th>
                <label>Status</label>
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*
            <td>
            @Html.DisplayFor(modelItem => item.Policy!.Name)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.YearBuilt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Structure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfBasement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Area)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration.Term)
                </td>
                @*
            <td>
            <img src="~/@item.Photos" alt="Image Home Insurance" width="90" height="90" />
            </td>
            
                <td>
                    @foreach (var photo in Model)
                    {
                        <img src="~/images/@photo.Name" width="110" />
                    }
                </td>
            *@
                <td>
                    @Html.DisplayFor(modelItem => item.LinkDriver)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td class="border-bottom-0">
                    <div class="d-flex align-items-center gap-2">
                        <a class="btn btn-warning" asp-route-id="@item.Id" asp-action="Edit" asp-controller="Home_Insurance">
                            Edit
                        </a>
                        <form asp-action="Delete" asp-controller="Home_Insurance">
                            <input type="hidden" name="id" value="@item.Id">
                            <button type="submit" class="btn btn-danger">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
